/* Import Font Face Start*/

@font-face {
    font-family: Plain-light;
    src: url(../fonts/plain-light-webfont.woff);
}

@font-face {
    font-family: Plain-regular;
    src: url(../fonts/plain-regular-webfont.woff);
}

@font-face {
    font-family: silkserif-light;
    src: url(../fonts/silkserif-lightitalic-webfont.woff);
}

@font-face {
    font-family: silkserif-regular;
    src: url(../fonts/silkserif-regularitalic-webfont.woff);
}

/* Import Font Face End*/

/* Universal Selector Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plain-light;
    color: #fff;
    /* cursor: url('../img/shapes/Cursor.svg'),auto; */
}

/* Universal Selector End */

/* Tags Selectors Start  */
html{
    scroll-behavior: smooth;
    
}

body{
    color: #fff;
    background-color: #0a0a0a;
    overflow: hidden;
    
    /* cursor: none; */
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
/* Tags Selectors End  */

/* ReUse Class Selectors Start  */

.container{
    padding-left: 5rem;
    padding-right: 5rem;
}

/* #cursor{
    width: 2.3rem;
    height: 2.3rem;
    position: fixed;
    z-index: 999;
    border: 1px solid #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
} */
/* Class Selectors End */
